<div class="shadow-lg p-6 border bg-white rounded-md mx-auto">
<h1 class="font-bold text-2xl text-center mb-4 border-b-2">Forgot your password?</h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full rounded-md' %>
  </div>

  <div class="actions mb-4">
    <%= f.submit "Send me reset password instructions", class: 'bg-green-500 p-2 text-white rounded-md' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>