<tr>
  <td class="border-b p-4 pl-8 text-slate-500 dark:text-slate-600"><%= post.title %></td>
  <td class="border-b p-4 text-slate-500 dark:text-slate-600"><%= post.user.full_name_or_email%></td>
  <td class="border-b p-4 pr-8 text-slate-500 dark:text-slate-600"><%= post.status.titleize %></td>
  <td class="border-b p-4 pr-8 text-slate-500 dark:text-slate-600">
    <div class="flex items-center">
      <%= link_to 'Edit', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-yellow-500 text-white inline-block font-medium" %>
      <%= button_to 'Delete', post_path(post), method: :delete, class: "ml-3 rounded-lg py-3 px-5 bg-red-600 text-white font-medium" %>
    </div>
  </td>
</tr>