<!DOCTYPE html>
<html>
  <head>
    <title>NewBlogReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-gray-200">
    <div class="min-h-full">
      <% if !is_devise_class? %>
        <%= render 'navigation' %>
      <% end %>
      <main>
        <div class="<%= main_or_devise_container_class %>">
          <%= yield %>
        </div>
      </main>
      <%= yield :js %>
    </div>
  </body>
</html>
